@page "/"

@using BlazorApp1.Data;
@inject CarService carsService;

<h1>Все машины</h1>


@if (cars == null)
{
    <p>Loading....</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Модель</th>
                <th>Цвет</th>
                <th>Водитель</th>
                <th>Переход</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var car in cars)
            {
            <tr class="mt-1">
                <td>@car.Id</td>
                <td>@car.Model</td>
                <td>@car.Color</td>
                <td>@car.DriverId</td>
                <td>
                    <NavLink style="cursor: pointer" class="nav-link" href="@($"/car/show/{car.Id}")" Match="NavLinkMatch.All">
                        Подробнее
                    </NavLink>
                </td>
            </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Data.dto.CarDto> cars;

    protected override async Task OnInitializedAsync()
    {
        await this.updateCars();
    }

    private async Task updateCars()
    {
        this.cars = await carsService.GetCars();
    }
}
